{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}

{% block body %}

<h1>Edit Post</h1>

<form method="POST" action="edit">

  <div class="form-group row">
    <label for="title" class="col-sm-2 col-form-label">Title</label>
    <div class="col-sm-10">
      <input class="form" id="title" name="title" value="{{ category.title }}">
    </div>

    <label for="description" class="col-sm-2 col-form-label">Description</label>
    <div class="col-sm-10">
        <input class="form" id="description" name="description" value="{{ category.description }}">
      </div>
  </div>




  <div class="form-group row">
    <div class="ml-auto mr-3">
      <a href="/users/{{ g.user.id }}/categories/{{ category.id }}" class="btn btn-outline-info">
        Cancel
      </a>
      <button type="submit" class="btn btn-success">
        Edit
      </button>
    </div>
  </div>

</form>

{% endblock %}

