body {
  background-color: #ffffff;
}




.navbar {
  background-color: #fff;
  height: 46px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  position: relative;
  z-index: 9999;
}

.card {
  background-color: aqua;
}


.home-page {
  background-image: url("/static/images/bg-search.jpg");
  display: flex;  
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  left: 0;
  z-index: -1;
  background-size: cover;
  text-align: center;
  padding: 1rem;
  flex-direction: column;
  color: #66757f;
  text-shadow: 0 0 8px #fff;
}

.non-home {
background-image: url("/static/images/bg-planner.jpg");
display: flex;  
justify-content: center;
height: 100vh;
align-items: center;
position: absolute;
top: 0;
width: 100vw;
left: 0;
z-index: -1;
background-size: cover;
text-align: center;
padding: 1rem;
flex-direction: column;
color: #66757f;
text-shadow: 0 0 8px #fff;
}



.login-page, .sign-up {
background-image: url("/static/images/bg-login.jpg");
display: flex;  
justify-content: center;
height: 100vh;
position: absolute;
top: 0;
width: 100vw;
left: 0;
z-index: -1;
background-size: cover;
text-align: center;
font-size: large;
padding: 1rem;
flex-direction: column;
color: #ffffff;
text-shadow: 0 0 12px rgb(80, 219, 68);
}

.non-home .btn {
    text-shadow: none;
    position: relative;
    z-index: 1;
    width: 150px;
  }



  .nav-item {
    text-shadow: none;
    position: relative;
    z-index: 1;
    color: #fff;
    text-shadow: #fff;
   }