{% extends 'base.html' %}
{% block title %} Meal Planner {% endblock %}
{% block body %}


<div class="generate">
    <form class="form-group d-flex justify-content-center md-form form-sm active-purple active-purple-2 mt-2" action="users/{{g.user.id}}/plan-details" method="GET">
        

        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Exclude Ingedient (Ex: olive, fish)"
                 aria-label="exclude" name="exclude">

        <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Select a Diet (Ex: keto)"
         aria-label="diet" name="diet">


        <input class="form-control form-control-sm ml-3 w-75" type="number" placeholder="Target Calories (Ex: 2000)"
         aria-label="targetcal" name="targetcal">


            <button class="btn btn-outline-success btn-rounded btn-sm my-0 d-flex" type="submit" id="button-addon2"> Generate </button>

      </form>


</div>


{% endblock %}`