{% extends 'base.html' %}

{% block body %}


<form action="/users/{{g.user.id}}/plan-details" method="GET">
    <div class="input-group mb-3" style="max-width: 50%;">
      <label><input type="text" class="form-control" placeholder="Exclude Ingedient (Ex: olive, fish)" aria-label="exclude" aria-describedby="button-addon2" name="exclude">Exclude:</label>  
      <label><input type="text" class="form-control" placeholder="Select a Diet (Ex: keto)" aria-label="diet" aria-describedby="button-addon2" name="diet">Diet:</label>
      <label><input type="number" class="form-control" placeholder="Target Daily Calories (Ex: 2000)" aria-label="targetcal" aria-describedby="button-addon2" name="targetcal"> Target Calories:</label>
              <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Generate</button>
        </div>          
    </div>
</form>

{% endblock %}