{% extends 'base.html' %}
{% block title %} {{recipe['title']}} {% endblock %}
{% block body %}

 

<div style="max-width: 70%; margin: auto; padding-top:3%">


  {%if fav_recipe%}
  <h4>Recipe already saved in favorites</h4>
  {%else%}
  <form id="recipeForm" method="POST">
    <button id="myRecipes" class="btn btn-success mt-4" data-recipe_id="{{recipe['id']}}" data-recipe_title="{{recipe['title']}}" data-summary="{{recipe['summary']}}" data-user_id="{{user_id}}">Add to my fav recipes</button>
  </form><br>
  {%endif%}

  <h5 class="mt-0">{{recipe['title']}}</h5>
<!-- Write your comments here 
  <div>
      <img class="img-fluid" src="{{recipe['image']}}" alt="..."><br>
      <div class="list">
        <h5 class="mt-0">{{recipe['title']}}</h5>
        {{recipe['instructions'] | safe}}
      </div>
  </div><br>

  {{recipe['inregdientsWidget'] | safe}}<br>
  
  {{recipe['equipmentWidget'] | safe}}

</div>
-->

{% endblock %}