{% extends 'base.html' %}
{%block title%}Shopping List{%endblock%}


{% block body %}
<h1 class="text-center" style="color: #236d05">Shopping Cart</h1>
<form method="POST" style="color: #236d05">
    {{form.hidden_tag()}}

    {%for field in form if field.widget.input_type != 'hidden' %}
    <div class="form-group" style="color: #236d05">
        <p>
            {{field.label}}
            {{field(class_="form-control")}}
    
            {% for error in field.errors %}
            <span class="form-text text-danger">{{error}}</span>
            {%endfor%}
        </p>
    <button class="btn btn-outline-success btn-sml"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    {%endfor%}
</form>
<ul class="list-group mt-5" style="color: #349b0c">
    {%for todo in todo_list%}
    {%if todo.checked%}
    <li class="list-group-item" style="color: #349b0c">
         <a class="btn btn-danger delete-todo float-right" style="color: #f8f8f8" data-id="{{todo.id}}" data-user="{{g.user['id']}}"><i class="fas fa-minus-square"></i></a>
         <input type="checkbox" class="todo-item" checked>
         <span class="todo-text checked h5">{{todo.item}}</span>
        </li>
    {%else%}
    <li class="list-group-item" style="color: #349b0c">
        <a class="btn btn-danger btn-sml delete-todo float-right" style="color: #f8f8f8" data-id="{{todo.id}}" data-user="{{g.user['id']}}"><i class="fas fa-minus-square"></i></a>
        <input type="checkbox" class="todo-item">
        <span class="todo-text h4">{{todo.item}}</span>
        </li>
    {%endif%}
    {%endfor%}
</div>

{%endblock%}