{% extends 'base.html' %}

{% block body %}

<div class="jumbotron">
  
 <h5> <li style="text-decoration:none; color: rgb(39, 177, 12)">{{ recipe.title }}<a class="btn btn-outline-danger float-right btn-rounded btn-sm my-0"
  href="/users/{{ g.user.id }}/recipes/{{ recipe.id }}/edit">Edit!</a></li> </h5>
  <p class="lead" style="font-size:15px; color: rgb(39, 119, 23)">
    {% if recipe.summary and recipe.recipe_url %}
    <a href="{{recipe['recipe_url']}}" target="_blank" style="font-size:15px; color: rgb(39, 119, 23)">Click here for recipe details!</a>
    <b>{{ recipe.summary | safe }}</b>
        {% elif recipe.summary %}
    <b>{{ recipe.summary | safe }}</b>
  {% elif recipe.recipe_url %}
  <a href="{{recipe['recipe_url']}}" target="_blank" style="font-size:15px; color: rgb(39, 119, 23)">Click here for recipe details!</a>
 
  {% endif %}
</p>
 

</div>

{% endblock %}