{% extends 'base.html' %}

{% block body %}
  <div class="row justify-content-md-center">
    <div class="col-md-4">
      <h4 class="join-message" style="text-decoration:none; color: rgb(23, 107, 6)">Edit Your Profile:</h4>
      <form method="POST" id="user_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' and field.name != 'password' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          <div class="form-group" style="text-decoration:none; color: rgb(23, 107, 6)">
            {{field.label(class="col-form-label")}}
              {{field(class="form-control")}}
          </div>
        {% endfor %}

        <p style="text-decoration:none; color: rgb(23, 107, 6)">To confirm changes, enter your password:</p>
        {% if form.password.errors %}
          {% for error in form.password.errors %}
            <span class="text-danger">
            {{ error }}
          </span>
          {% endfor %}
        {% endif %}
        {{ form.password(placeholder="Enter your password to confirm", class="form-control") }}

        <br>
        <div class="edit-btn-area">
          <button class="btn btn-outline-success">Edit Profile!</button>
          <a href="/users/{{ user_id }}" class="btn btn-outline-danger">Cancel</a>
        </div>
      </form>
    </div>
  </div>

{% endblock %}