{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="ml-auto">
    {% if g.user.id == user.id %}
    <a href="/users/profile" class="btn btn-outline-success btn-sm">Edit Profile</a>
    <a href="/logout" class="btn btn-outline-danger btn-sm">Sign Out</a>
    {% endif %}
</div>
<br>
<div style="text-decoration:none; color: rgb(23, 107, 6)">
    <li>Username: {{user.username}}</li>
    <li>Name: {{ user.name }}</li>
    <li>Email: {{user.email}}</li>
</div>

{% endblock %}