{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div class="ml-auto">
    {% if g.user.id == user.id %}
    <a href="/users/profile" class="btn btn-outline-secondary">Edit Profile</a>
    <form method="POST" action="/users/delete" class="form-inline">
        <button class="btn btn-outline-danger ml-2">Delete Profile</button>
    </form>
    {% endif %}
</div>
<div>
    <li>Name:{{ user.name }}</li>
    <li>Email:{{user.email}}</li>
    <li>Username:{{user.username}}</li>
</div>

{% endblock %}